.DS_Store
.idea
__pycache__/
*.zip
fourier-based_alignment_and_finding_covariant_neighborhoods/fourier-based_color_channel_alignment/data
fourier-based_alignment_and_finding_covariant_neighborhoods/fourier-based_color_channel_alignment/data_hires